<div ng-controller="surveyEdit" class="survey-page">
    <div class="photo-tip">
        <div class="first"><span>拍照时请注意自身安全</span><span class="close-btn" ng-click="closeTip()"></span></div>
        <div class="second">请按照图例拍照，拍照完成后即可在当前页面查看审核结果</div>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;" ng-click="choiceType()">
            <div class="weui-cell__bd accident">
                <p>事故情况</p>
            </div>
            <div class="weui-cell__ft" id="type-text">根据现场情况选择</div>
        </a>
    </div>
    <div class="survey-card">
        <div class="photo-title">查勘影像</div>
        <div class="survey-grids">
            <div class="survey-grid" ng-repeat="item in surveyPhoto">
                <div class="survey-grid-body">
                    <div class="img-box">
                        <img ng-src="{{item.descPhotoUrl}}">
                        <div class="mask" ng-if="!item.uploaded">
                            <span class="take-photo" ng-if="!item.uploading"></span>
                            <div class="progress" ng-if="item.uploading">
                                <span ng-style="item.process"></span>
                            </div>
                        </div>
                    </div>
                    <div class="desc">{{item.desc}}</div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="survey-card">
        <div class="photo-title">单证</div>
        <div class="survey-grids">
            <div class="survey-grid" ng-repeat="item in certPhoto">
                <div class="survey-grid-body">
                    <div class="img-box">
                        <img ng-src="{{item.descPhotoUrl}}">
                        <div class="mask" ng-if="!item.uploaded">
                            <span class="take-photo" ng-if="!item.uploading"></span>
                            <div class="progress" ng-if="item.uploading">
                                <span ng-style="item.process"></span>
                            </div>
                        </div>
                    </div>
                    <div class="desc">{{item.desc}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-area">
        <a href="javascript:;" class="weui-btn weui-btn_primary" ng-class="{'weui-btn_disabled':!needMorePhoto,'weui-btn_primary':needMorePhoto}">已拍完，需补拍</a>
    </div>
    <!--聊天directive-->
    <chat></chat>
</div>
