<div ng-controller="surveyEdit" class="survey-page">
    <div class="photo-tip">
        <div class="first"><span>拍照时请注意自身安全</span><span class="close-btn" ng-click="closeTip()"></span></div>
        <div class="second">请按照图例拍照，拍照完成后即可在当前页面查看审核结果</div>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;" ng-click="choiceType()">
            <div class="weui-cell__bd accident">
                <p>事故情况</p>
            </div>
            <div class="weui-cell__ft" id="type-text">根据现场情况选择</div>
        </a>
    </div>
    <div class="survey-card">
        <div class="photo-title">查勘影像</div>
        <div class="weui-flex">
            <div class="weui-flex__item left">
                <img src="images/car.png">
                <div class="desc">全车45含清晰车牌照</div>
            </div>
            <div class="weui-flex__item right">
                <img src="images/car.png">
                <div class="desc">车辆损失部位</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item left">
                <img src="images/car.png">
                <div class="desc">碰撞物体</div>
            </div>
            <div class="weui-flex__item right">
                <img src="images/car.png">
                <div class="desc">车架号</div>
            </div>
        </div>
    </div>
    <div class="survey-card">
        <div class="photo-title">单证</div>
        <div class="weui-flex">
            <div class="weui-flex__item left">
                <img src="images/car.png">
                <div class="desc">驾驶证</div>
            </div>
            <div class="weui-flex__item right">
                <img src="images/car.png">
                <div class="desc">行驶证</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item left">
                <img src="images/car.png">
                <div class="desc">被保险人银行卡</div>
            </div>
            <div class="weui-flex__item right">
                <img src="images/car.png">
                <div class="desc">被保险人身份（正面）</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item left">
                <img src="images/car.png">
                <div class="desc">被保险人身份（反面）</div>
            </div>
            <div class="weui-flex__item right">
            </div>
        </div>
    </div>
    <div class="button-area">
        <a href="javascript:;" class="weui-btn " ng-class="{'weui-btn_plain-disabled':!needMorePhoto,'weui-btn_plain-primary':needMorePhoto}">已拍完，需补拍</a>
    </div>
    <!--聊天directive-->
    <chat></chat>
</div>
