.slide_logo {
    position: fixed;
    bottom: 3rem;
    right: .7rem;
    z-index: 101;
}

.default_cmt {
    background: url(../images/chat/talk.png) no-repeat 0 0;
    background-size: 34px auto;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin: 0 0 18px 0;
    background-position: 6px -193px;
    background-color: rgba(33, 172, 253, .85);
    transition: ease .8s;
    -webkit-transition: ease .8s;
}

.chat-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EAEAEA;
    z-index: 550;
    .chat-header {
        position: relative;
        height: 1px;
        .cmt_close {
            background: url(../images/chat/talk.png) no-repeat 0 0;
            background-size: 34px auto;
            background-position: 0 -600px;
            width: 34px;
            height: 36px;
            display: inline-block;
            float: right;
            position: absolute;
            right: .7rem;
            top: -18px;
            z-index: 550;
        }
    }
    .chat-content {
        height: 200px;
        overflow-y: auto;
        -webkit-overflow-scrolling : touch;
        overflow-x: hidden;
        font-size: 12px;
        line-height: 1.5;
        color: #333;
        padding: 0 0.7rem;
        padding-top: .2rem;
        .chat-record {
            margin-bottom: 10px;
        }
        .no-record{
            text-align: center;
            font-size: 14px;
            color: #666;
            padding-top: 1rem;
        }
        .chat-time {
            text-align: center;
            color: #999;
        }
        .chat-text {
            padding: 0 38px;
            position: relative;
            div {
                span {
                    display: inline-block;
                    padding: 7px 10px;
                    border-radius: 5px;
                    background-color: #fff;
                    color: #333;
                    width: auto;
                    max-width: calc(100% - 15px);
                    word-break: normal;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    overflow: hidden;
                }
                label {
                    font-size: 14px;
                    vertical-align: top;
                    margin-right: 5px;
                    color: #fff;
                }
                .voice-msg {
                    height: 18px;
                    img {
                        margin-top: -1px;
                    }
                }
            }
        }
        .self-text {
            text-align: right;
            .user-type {
                position: absolute;
                right: 0.1rem;
                top: 0;
            }
            div {
                position: relative;
                span {
                    background-color: #21B6FF;
                    color: #fff;
                    text-align: left;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: -7px;
                    top: 9px;
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-left-color: #21B6FF;
                }
            }
        }
        .other-text {
            text-align: left;
            .user-type {
                position: absolute;
                left: .1rem;
                top: 0;
            }
            div{
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: -7px;
                    top: 9px;
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-right-color: #fff;
                }
            }
        }
        .user-type {
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border-radius: 50%;
            background-color: #aaa;
            color: #fff;
        }
    }
    .chat-footer {
        background-color: #dedede;
        padding-bottom: 1px;
        position: relative;
        display: flex;
        input,
        textarea {
            flex: 1;
            border: none;
            margin-left: 50px;
        }
        .text-input {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            min-height: 20px;
            margin-top: 4px;
            margin-bottom: 6px;
            margin-right: 80px;
            padding: 5px;
            border-bottom: 1px solid #ccc;
            resize: none;
            /**去掉textarea右下角默认的黑点**/
            &:focus {
                border-bottom: 1px solid #21B6FF;
            }
        }
        .voice-input {
            height: 41px;
            font-size: 18px;
            color: #666;
            margin-right: 20px;
            text-align: center;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            &:active {
                background-color: #eee;
            }
        }
        .msg-type {
            width: 28px;
            height: 28px;
            position: absolute;
            bottom: 7px;
            left: 10px;
            margin-right: 10px;
            display: inline-block;
            border: 1px solid #707070;
            border-radius: 50%;
            background: url(../images/chat/mic.png) no-repeat 0 0;
            background-position: center;
            background-size: cover;
        }
        .keyboard-type {
            background: url(../images/chat/key.png) no-repeat 0 0;
            background-position: center;
            background-size: cover;
        }
        .msg-send-btn {
            width: 60px;
            height: 30px;
            position: absolute;
            bottom: 7px;
            right: 10px;
            line-height: 30px;
            text-align: center;
            background-color: #21B6FF;
            border: 0px solid #fff;
            border-radius: 3px;
            color: #fff;
            font-size: 12px;
            &:active {
                background-color: #21A2FF;
            }
        }
    }
}

.page_mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 500;
}

.voice-loading .weui-loading {
    -webkit-animation: twinkling 1s infinite ease-in-out;
    animation: twinkling 1s infinite ease-in-out;
    background: url("../images/chat/voice.png");
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes twinkling {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
