/* reset */

html,
body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #F8F8F8;
}

ul {
    list-style: none;
}

*:focus {
    outline: none;
}

.weui-btn_primary {
    background-color: #21B6FF;
    &:not(.weui-btn_disabled):active {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(25, 156, 232, 0.6);
    }
}