/**your common css here**/

.identify-car {
    padding-top: 20px;
    .photo-err{
    	text-align: center;
    	.result{
    		font-size: 16px;
    		line-height: 20px;
    		i{
    			font-size: 22px;
    			margin-top: -4px;
    		}
    	}
    	.result-tip{
    		margin-bottom: 5px;
    		font-size: 14px;
    		color: #666;
    	}
    }
    .photo-tip {
        margin-bottom: 10px;
        margin-left: 15px;
        font-size: 14px;
        color: #666;
    }
    .photo-box {
        margin: 0 15px;
        height: 160px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        border: 1px solid #ddd;
        &:active{
        	background-color: #f8f8f8;
        }
        img {
            margin-top: 40px;
        }
    }
}
